@page "/assign-policies-to-group/{GroupId}"
@inject IUserInfoRepository UserRepository
@inject IUserGroupRepository GroupRepository
@inject IPolicyTableRepository PolRepo
@inject NavigationManager NavigationManager
@using DataPatrolTask.Models
@using DataPatrolTask.Services.Interfaces
@using MudBlazor

<h3>Assign Policies to: @group?.Description</h3>

@if (policies.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <MudPaper Class="p-4" Style="max-width: 500px; margin: auto;">
        <MudText Typo="Typo.h6" Class="mb-3">Assign Policies</MudText>

        <MudList T="string">
            @foreach (var p in policies)
            {
                <MudListItem T="string" Class="px-2 py-1" Style="border-bottom: 1px solid #e0e0e0;">
                    <input type="checkbox"
                           id="@p.PolicyId"
                           @onchange="(e => OnCheckboxChanged(p.PolicyId, ((ChangeEventArgs)e).Value))"
                           checked="@selectedPolIds.Contains(p.PolicyId)"
                           style="margin-right: 10px;" />
                    <label for="@p.PolicyId">@p.PolicyName</label>
                </MudListItem>
            }
        </MudList>

        <MudButton OnClick="SaveAssignment" Color="Color.Primary" Variant="Variant.Filled" Class="mt-4" FullWidth="true">
            Save Assignment
        </MudButton>
    </MudPaper>

}

@code {
    [Parameter] public string groupId { get; set; }

    private UserGroup? group;
    private List<PolicyTable> policies = new();
    private HashSet<string> selectedPolIds = new();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Loading group: {groupId}");

        group = await GroupRepository.GetByIdAsync(groupId);

        var allPol = await PolRepo.GetAllAsync();
        policies = allPol.ToList();

        var assignedIds = await GroupRepository.GetpolIdsByGroupId(groupId);
        selectedPolIds = assignedIds.ToHashSet();

        Console.WriteLine($"Loaded {policies.Count} users.");
        Console.WriteLine($"Pre-selected {selectedPolIds.Count} assigned user IDs:");
        foreach (var id in selectedPolIds)
            Console.WriteLine($" - {id}");
    }

    private void OnCheckboxChanged(string polId, object? value)
    {
        var isChecked = value?.ToString()?.ToLower() == "true";
        Console.WriteLine($"Checkbox [{polId}] changed: {isChecked}");

        if (isChecked)
            selectedPolIds.Add(polId);
        else
            selectedPolIds.Remove(polId);
    }

    private async Task SaveAssignment()
    {
        Console.WriteLine("Saving selected users IDs:");
        foreach (var id in selectedPolIds)
        {
            Console.WriteLine($" - {id}");
        }

        await GroupRepository.AssignPolToGroup(groupId, selectedPolIds.ToList());

        NavigationManager.NavigateTo("/groups");
    }
}